{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Document
        {% endblock title %}
    </title>



    {% tailwind_css %}
</head>
<body class="bg-yellow-500 flex items-center justify-center min-h-screen ">

    <div class="max-w-md min-h-screen ">
        {% include 'navbar.html' %}

        <main class="py-6">
            {% block content %}
            {% endblock content %}
        </main>

    </div>


</body>
</html>