{% if user.is_authenticated %}
<nav
  class="bg-green-300 fixed bottom-0 inset-x-0 m-2 shadow-lg max-w-md mx-auto rounded-md z-20"
>
  <div class="flex justify-around py-6 px-2">
    <a href="{% url 'core:index' %}" class="flex flex-col items-center">
      <i class="fas fa-home fa-2x"></i>
      Home
    </a>
    <a href="#" class="flex flex-col items-center">
      <i class="fas fa-home fa-2x"></i>
      Sneakers
    </a>
    <a href="#" class="flex flex-col items-center">
      <i class="fas fa-home fa-2x"></i>
      Collections
    </a>
    <a href="#" class="flex flex-col items-center">
      <i class="fas fa-home fa-2x"></i>
      Locations
    </a>
    <form
      action="{% url 'core:logout' %}"
      method="post"
      class="flex flex-col items-center text-white hover:text-gray-200"
    >
      {% csrf_token %}
      <button type="submit" class="flex flex-col items-center">
        <span class="text-sm">Log Out</span>
      </button>
    </form>
  </div>
</nav>
{% endif %}
